#headline {
    font-weight: 700;
    font-style: normal;
    color:#D94398;
}

#subhead {
    font-weight: 500;
    font-style: normal;
    color:#D94398;
} 

#button {
    font-weight: 500;
    font-style: normal;
    color:#D94398;
} 